{% extends 'base.html.twig' %}

{% block title %}Voiture : {{ ad.brand }}{% endblock %}

{% block body %}
<div class="annonce-title" style="background-image: url({{ad.image}});">
    <div class="container">
       <h1>{{ad.brand}}</h1>
       <p>{{ad.description}}</p>
       <p class="h2"><strong>{{ad.brand}} Marque: </strong> pour <strong>{{ad.price}}</strong>€ </p>
       
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 mb-3">
            {{ad.description | raw }}
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for image in ad.image %}
                        <li data-target="#carouselExampleCaptions" data-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active" {% endif %}></li>    
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for image in ad.image %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img src="{{ image.url }}" class="d-block w-100" alt="image de {{ ad.brand }}">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ ad.brand }}</h5>
                                <p>{{ image.caption }}</p>
                            </div>
                        </div>
                    {% endfor %}



                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <table class="table">
  <thead>
    <tr>
      <th scope="col">Fiche technique</th>
      <th scope="col">Détails</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Marque</th>
      <td>{{ad.brand}}</td>
    </tr>
    <tr>
      <th scope="row">Modèle</th>
      <td>{{ad.model}}</td>
    </tr>
    <tr>
      <th scope="row">Km</th>
      <td>{{ad.km}}</td>
    </tr>
  </tbody>
</table>


        </div>
        <div class="col">
            <div class="row">
                <div class="col-4">
                    <img src="/uploads/Dean.jpg" alt="avatar de Dean" class="avatar avatar-medium">
                </div>
                <div class="col">
                    <h3>Dean Winchester</h3>
                    <span class="badge badge-primary">3 annonces</span>
                </div>
                <div class="col-12 mt-3">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo veritatis cumque deserunt pariatur saepe voluptatem ullam at beatae debitis sed.</p>
                    <p>Nemo explicabo debitis quas incidunt tenetur? Impedit error deleniti, enim nemo culpa eveniet ipsa totam? Nobis qui illum dolores dolorum!</p>
                    <p>Sequi neque, quia consectetur voluptatibus vel consequatur tenetur nulla facere libero pariatur adipisci quibusdam doloribus reprehenderit, necessitatibus a quos eos!</p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}